@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.starterMain {
  background: linear-gradient(107deg, black, #8ce1f3);
  width: 100%;
  height: 100vh;
}

.starterDiv {
  margin-top: 135px;
  font-family: "Bebas Neue", cursive;
}

.starterDiv h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
}

.starterBtn {
  background: black;
  color: white;
  box-shadow: 0px 4px 10px black;
  font-weight: 600;
  width: 80px;
  font-size: 20px;
}

.starterBtn:hover {
  background: white;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.brandname {
}
.adminNavbar2Div {
  visibility: hidden;
  display: none;
}

.pro-sidebar {
  position: fixed;
  height: 100%;
  width: 175px;
}
.passIcon {
  font-size: 26px;
}

.passIconUser {
  color: white;
  font-size: 25px;
  margin-top: 9px;
  margin-right: 1px;
}

.pro-sidebar > .pro-sidebar-inner {
  background: linear-gradient(316deg, #004c6d, #000000);
}

.navText {
  color: aliceblue;
  margin-left: 15px;
}

.nav {
  margin-left: auto;
  transition: 0.5s ease-in-out;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.loginNav {
  background: black;
  border-radius: 10px;
  box-shadow: 0px 4px 10px;
  font-weight: 700;
}

.loginNav:hover {
  background: lightblue;
  color: #000000;
}

.logoutNav {
  background: #d65f00;
  border-radius: 10px;
  box-shadow: 0px 4px 10px;
  font-weight: 700;
}

.logoutNav:hover {
  background: black;
}

.nav .nav-link {
  margin-right: 40px;
}

.onlyUserNavbar {
  background: linear-gradient(184deg, #0376a9, #000000);
}
/* home */

.home_img_box {
  margin-top: 115px;
}
.home_img_box img {
  width: 200px;
}

.home_2nd_div {
  margin-top: 115px;
}

.right_icon {
  font-size: 30px;
}

.postDiv {
}

/* login form */

.login {
  height: 100vh;
}

.loginForm {
  width: 40%;
  margin: auto;
  background: aliceblue;
  box-shadow: 0px 4px 10px black;
}

.loginForm .form-group input {
  width: 80%;
  margin: auto;
  margin-top: 26px;
}

.loginForm .form-group button {
  margin: auto;
  background: cornflowerblue;
  border: 0px;
  color: white;
  box-shadow: 0px 4px 10px black;
  transition: 0.5s ease-in-out;
}

.loginForm .form-group button:hover {
  background: black;
}

.loginFormImgDiv {
  width: 100%;
  height: 65px;
  overflow: hidden;
  margin: auto;
}

.loginFormImgDiv img {
  position: relative;

  margin: auto;
  height: 65px;
}

/* Profile */
.profileDiv {
  width: 100%;
  height: 70vh;
  margin-top: 40px;
  background: #ddeefd;
  border-radius: 20px;
  box-shadow: 0px 4px 11px;
}

.firstDivBlock {
  margin-top: 70px;
}

.profileImg {
  display: inline-block;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}
.thirdDivBLock {
}

.profileNameDiv {
  text-align: left;
}

.firstDiv {
}

.secondDiv {
  width: 285px;
}

.secondDivBlock {
  background: #161b10;
  color: white;
  margin-top: 38px;
  padding: 20px;
  box-shadow: 0px 5px 10px black;
}

.thirdDiv {
  margin-top: 35px;
}
.createProfileHeading{
  background: aliceblue;
    margin: auto;
    position: relative;
    width: 250px;
    padding: 5px;
    box-shadow: 0px 4px 10px;
}
.createProfileImg {
  margin-top: 115px;
  height: 50vh;
  border: 6px solid black;
  overflow: hidden;
  border-radius: 50%;
}

.editFormIcon {
  position: absolute;
  /* margin-top: -34px; */
  top: 100px;
}

.loginInput {
  width: 250px;
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
}

.contact-section form {
  padding: 60px 60px 40px 60px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 3px 8px black;
  font-family: "Open Sans", sans-serif;
  margin-top: 40px;
  width: 100%;
}
.contact-section form .form-control {
  margin-top: 25px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #b3b3b3;
  border-radius: 0px;
}
::-webkit-input-placeholder {
  font-size: 12px;
}
.contact-section form .btn {
  padding: 10px 30px;
  font-size: 14px;
  background: #e74c3c;
  border: 1px solid #e74c3c;
  color: #fff;
  box-shadow: 0px 5px 7px -3px #999;
  transition: 1s;
}
.contact-section form .btn:hover {
  background: transparent;
  border: 1px solid #e74c3c;
  color: #e74c3c;
  box-shadow: none;
}

.editProfileForm {
  margin-top: 45px;
}

.editProfileBtn {
  background: black;
  color: white;
  width: 110px;
  margin-top: 12px;
  margin-left: 132px;
}

.editProfileBtn h6 {
  margin-bottom: 0px;
  margin-top: -27px;
  color: white;
}

.editProfileBtn :hover {
  background: white;
  color: black;
}

/* pass table */

.noPassDiv {
  background: linear-gradient(45deg, #000000, #10fdc3);
  width: 300px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 7px black;
  color: white;
  margin-top: 90px;
}

.table_responsive {
  /* border: 1px solid #00bcd4; */
  background-color: #efefef33;
  padding: 15px;

  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table > thead {
  background-color: #00bcd4;
  color: #fff;
}

table > thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
}

.dashboardUserImgBox img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

table > tbody > tr > td > img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn > a {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn > a:nth-child(1) {
  border-color: #26a69a;
}

.action_btn > a:nth-child(2) {
  border-color: orange;
}

.action_btn > a:hover {
  box-shadow: 0 3px 8px #0003;
}

table > tbody > tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table > tbody > tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table > tbody > tr:hover {
  filter: drop-shadow(0px 2px 6px #0002);
}

/* singlem Pass */

.singlePassUserImg img {
  display: inline-block;
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.singlePassSec1 {
  border: 1px solid #f7d9d9;
  padding: 9px;
  margin-top: 8px;
  border-radius: 5px;
  background: #eff8ff;
  box-shadow: 0px 1px 2px;
}

.bedge1 {
  margin: auto;
  border: 1px solid whitesmoke;
  background: #d2e0ec;
  border-radius: 20px;
  width: 125px;
  box-shadow: 0px 2px 4px;
}

.bedge2 {
  margin: auto;
  border: 1px solid whitesmoke;
  background: #d2e0ec;
  border-radius: 20px;
  width: 48px;
  box-shadow: 0px 2px 4px;
}

/* Admin home */

.AdminHomeMainDiv {
  width: 84%;
  height: 100vh;
  background: #dbeeff;
  /* position: absolute; */
  margin-left: 175px;
  overflow-x: hidden;
}
.DashboardCardDiv {
  margin-top: 35px;
  margin-left: 25px;
}

.DashboardCard {
  width: 225px;
  background: white;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px;
  margin-top: 10px;
  margin-left: 25px;
}

.DashboardCard h6 {
  margin-bottom: 0px;
  margin-top: 14px;
}

.cardIcon {
  width: 50px;
  height: 25px;
  margin-top: 20px;
  color: #0e4cbb;
}

.TotalPasscardIcon {
  width: 50px;
  height: 25px;
  margin-top: 20px;
  color: #159615;
}

.TotalapprovecardIcon {
  width: 50px;
  height: 25px;
  margin-top: 20px;
  color: #55bbf3;
}

.ExpiredcardIcon {
  width: 50px;
  height: 25px;
  margin-top: 20px;
  color: #d00202;
}

.AdminHome_table_responsive {
  /* border: 1px solid #00bcd4; */
  background-color: #efefef33;
  padding: 5px 8px 0px 8px;
  margin-top: 36px;
  margin-bottom: 16px;
  width: 395px;
  border-radius: 4px;
  background: aliceblue;
  box-shadow: 0px 3px 6px;
}

.AdminHome_table_responsive > table > thead th {
  padding: 0px;
}

.AdminHome_table_responsive > table > tbody td {
  padding: 0px;
}

/* .AdminHomeTH{
  padding: 0px;
    width: 10px;
} */

.RecentPass_table_responsive {
  background-color: #efefef33;
  padding: 5px 8px 0px 8px;
  margin-top: 36px;

  width: 425px;
  border-radius: 4px;
  background: aliceblue;
  box-shadow: 0px 3px 6px;
  margin-bottom: 20px;
}

.RecentPass_table_responsive > table > thead th {
  padding: 0px;
}

.RecentPass_table_responsive > table > tbody td {
  padding: 0px;
}
.allUserButton {
  background: #160a2feb;
  color: whitesmoke;
  width: 230px;
  box-shadow: 0px 3px 9px black;
  margin-top: 25px;
  margin-bottom: 10px;
}

.allUserButton:hover {
  color: white;
}

.movementPassTH {
  background-color: #004b54;
  color: #fff;
}

/* allMovementPass */

.pagination {
  margin-top: 30px;
}

.searchInput {
  width: 200px;

  height: 40px;
  margin-top: 30px;
}

.passViewBtn {
  border: 0px none;
}

.useInfoList {
  list-style-type: none;
  margin-left: 90px;
  width: 280px;
}

.useInfoList li {
  text-align: left;
  padding-top: 18px;
}

.useInfoList li .colon1 {
  margin-left: 65px;
}

.useInfoList li .colon2 {
  margin-left: 35px;
}
.useInfoList li .colon3 {
  margin-left: 76px;
}
.useInfoList li .colon4 {
  margin-left: 34px;
}
.useInfoList li .colon5 {
  margin-left: 59px;
}
.useInfoList li .colon6 {
  margin-left: 76px;
}
.useInfoList li .colon7 {
  margin-left: 82px;
}

.passInfoList {
  list-style-type: none;
  margin-left: 18px;
}

.passInfoList li {
  text-align: left;
  padding-top: 18px;
}

.passInfoList li .colon1 {
  margin-left: 18px;
  font-size: 13px;
}

.passInfoList li .colon2 {
  margin-left: 9px;
}
.passInfoList li .colon3 {
  margin-left: 58px;
}
.passInfoList li .colon4 {
  margin-left: 51px;
}
.passInfoList li .colon5 {
  margin-left: 19px;
}
.passInfoList li .colon6 {
  margin-left: 12px;
}
.passInfoList li .colon7 {
  margin-left: 82px;
}

.passInfoList li .part1 {
  font-size: 13px;
  background: black;
  color: white;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px black;
  margin-left: 4px;
}

.passInfoList li .part2 {
  font-size: 13px;
  background: yellow;
  color: black;
  font-weight: 500;
  padding: 3px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px black;
  margin-left: 4px;
}

.infoDiv {
  background: white;
  margin-top: 64px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px;
}

.buttonList {
  list-style-type: none;
  margin-bottom: 15px;
  height: 40px;
}

.buttonList li {
  float: left;
  margin-left: 11px;
}

.passBtn1 {
  background: #350e0e;
  color: white;

  border-radius: 5px;
}

.passBtn2 {
  background: tomato;
  font-weight: 500;
}

.passBtn3 {
  background: #ad0101;
  color: white;
}

.usercardImgBox {
  position: relative;
  display: inline-block;
  width: 125px;
  height: 183px;
  top: -45px;
  z-index: 1;
}

.usercardImgBox img {
  width: 100%;

  object-fit: cover;
  border-radius: 8%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.usercard {
  background: white;
  position: relative;
  max-width: 300px;
  height: 145px;
  transition: 0.5s ease-in-out;
  margin: 30px 10px;
  padding: 20px 15px;
}

.usercard:hover {
  height: 260px;
}

.usercardInfo {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.usercard:hover .usercardInfo {
  visibility: visible;
  opacity: 1;
  margin-top: -80px;
  transition-delay: 0.3s;
}

.usercardInfo p {
  margin-bottom: 0px;
}

.usercardInfo .name {
  font-size: 17px;
}
.usercardInfo .city {
}
.usercardInfo .are {
}

.userViewButn {
  width: 107px;
  height: 34px;
  padding: 2px;
}

/* userDiv */
.userDiv {
  background: linear-gradient(22deg, #33eca8f7, #000000);

  margin: 80px 10px 10px 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px;
}

.userDiv1 {
  margin-top: 63px;
  width: 130px;
}

.userDiv2 {
  margin-top: 36px;
  margin-bottom: 42px;
  background: black;
  color: white;
  padding: 10px;
  border-radius: 16px;
}
.userImageBox img {
  display: inline-block;
  margin-bottom: 10px;
  width: 125px;
  height: 130px;
  object-fit: cover;
  border-radius: 10%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.user_all_table_responsive {
  max-width: 900px;
  /* border: 1px solid #00bcd4; */
  background-color: #efefef33;
  padding: 15px;

  border-radius: 4px;
}

.approveBtnList {
  width: 410px;
  margin: auto;
  margin-top: 33px;
  background: #4a2129;
  padding: 10px;
  border-radius: 30px;
  background: #17312a;
}

.userCard {
  width: 225px;
  background: black;
  color: white;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px blueviolet;
  margin-top: 10px;
  margin-left: 25px;
  text-decoration: none;
}

.userCard2 {
  width: 225px;
  background: black;
  color: white;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 3px 5px blueviolet;
  margin-top: 10px;
  margin-left: 25px;
  text-decoration: none;
}

.userCard h6 {
  margin-top: 10px;
}

.userCardLink {
  text-decoration: none;
}

.number {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background: #6c757d;
}

@media screen and (min-width: 771px) and (max-width: 1023px) {
  .logoutNav {
    background: none;
    box-shadow: none;
  }

  .loginNav {
    background: none;
    box-shadow: none;
  }
  .loginForm {
    width: 65%;
  }
  .AdminHomeMainDiv {
    width: 82%;
  }
  .profileDiv {
    height: 45vh;
  }
  .secondDiv {
    width: 100%;
  }
  .secondDivBlock {
  }

  .secondDivBlockPPP {
    font-size: 12px;
  }

  .userCard2 {
    width: 90%;
  }

  .userCard {
    height: 68px;
    width: 185px;
  }
  .userCard h6 {
    font-size: 12px;
  }
  .firstDivBlock {
    margin-top: 70px;
  }

  .profileImg {
    width: 124px;
    height: 132px;
  }

  .table_responsive {
    width: 94%;
    overflow-x: auto;
    margin-left: 0px;
  }
  .table {
    width: 100%;
  }

  .materialBtn {
  }

  .RecentPass_table_responsive {
    overflow-x: auto;
  }

  .useInfoList {
    margin-left: 0px;
  }

  .passInfoList {
    margin-left: 0px;
  }

  .userDiv3 {
    margin-top: 22px;
  }
  .user_all_table_responsive {
    overflow-x: auto;
  }
}

@media screen and (min-width: 481px) and (max-width: 770px) {
  .logoutNav {
    background: none;
    box-shadow: none;
  }

  .loginNav {
    background: none;
    box-shadow: none;
  }
  .loginForm {
    width: 75%;
  }
  .adminNavbar1Div {
    display: none;
  }

  .adminNavbar2Div {
    display: block;
    visibility: visible;
  }

  .AdminHomeMainDiv {
    width: 100%;
    margin-left: 0px;
  }

  .userCard {
    width: 75%;
  }

  .userCard2 {
    margin: auto;
    margin-bottom: 15px;
  }

  .pro-sidebar {
    height: 100vh;
  }
  .table_responsive {
    width: 94%;
    overflow-x: auto;
    margin-left: 0px;
  }
  .table {
    width: 100%;
  }
  .profileDiv {
    height: auto;
    margin-bottom: 30px;
  }
  .secondDiv {
    margin: auto;
  }

  .thirdDivBLock {
    margin: auto;
    margin-bottom: 20px;
  }

  .DashboardCardDiv {
  }

  .RecentPass_table_responsive {
    overflow-x: auto;
  }

  .passInfoList {
    margin-left: 0px;
  }

  .useInfoList {
    margin-left: 0px;
  }

  .buttonList {
    height: 90px;
  }
  .userDiv {
  }
  .userDiv3 {
    margin-bottom: 10px;
  }

  .user_all_table_responsive {
    overflow-x: auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .logoutNav {
    background: none;
    box-shadow: none;
  }

  .loginNav {
    background: none;
    box-shadow: none;
  }
  .loginForm {
    width: 100%;
  }
  .adminNavbar1Div {
    display: none;
  }

  .adminNavbar2Div {
    display: block;
    visibility: visible;
  }

  .AdminHomeMainDiv {
    width: 100%;
    margin-left: 0px;
  }
  .table_responsive {
    width: 94%;
    overflow-x: auto;
    margin-left: 0px;
  }
  .table {
    width: 100%;
  }
  .editProfileForm {
    width: 100%;
  }

  .loginInput {
    width: 100%;
  }

  .editProfileBtn {
    margin-left: auto;
  }

  .profileDiv {
    height: auto;
    margin-bottom: 30px;
  }
  .secondDiv {
    margin: auto;
  }

  .thirdDivBLock {
    margin: auto;
    margin-bottom: 20px;
  }

  .DashboardCardDiv {
    margin: auto;
  }

  .RecentPass_table_responsive {
    overflow-x: auto;
  }
  .passInfoList {
    margin-left: 0px;
  }
  .passInfoList li {
    font-size: 12px;
  }
  .passInfoList li .colon1 {
    margin-left: 0px;
  }
  .passInfoList li .colon2 {
    margin-left: 0px;
  }
  .passInfoList li .colon3 {
    margin-left: 0px;
  }

  .passInfoList li .colon4 {
    margin-left: 0px;
  }

  .passInfoList li .colon5 {
    margin-left: 0px;
  }

  .useInfoList {
    margin-left: 0px;
  }
  .userDiv {
    margin-top: 20px;
  }

  .userDiv3 {
    margin-bottom: 15px;
  }

  .user_all_table_responsive {
    overflow-x: auto;
  }

  .buttonList li {
    margin-top: 12px;
  }

  .userCard2 {
    margin: auto;
    margin-bottom: 15px;
  }

  .userCard2 h4 {
    font-size: 22px;
  }
  .buttonList {
    height: 100px;
  }

  .infoDiv {
    margin-top: 12px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
